/*
    Colors

    Teal color (used for headings and backgrounds) = #4aaaa5
    Regular font color (used for paragraphs and all text besides the headings) = #777777
    Main header background color = #ffffff
    Main header border color = #cccccc
    Footer background color = #666666
    Main content background color = #ffffff
    Main content border color = #dddddd
    Pro-tip: Use the Eye Dropper Chrome extension to find the colors used on web pages.

    Fonts

    Heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;
    All other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    Profile image found on index.html

    Use a picture of yourself. If you don't have a picture, you can grab a placeholder image from LoremPixel. Save the images to your images folder
*/

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-image: url(herringbone.png);
}

main {
	flex: 1 0 auto;
}

header {
	padding: 0px;
	background-color: #ffffff;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc; 
	margin-bottom: 10%;
}

h1{
	font-family: Georgia;
	font-size: 25px;	
	color: white;
	background-color: teal;
	display: inline-block;
	margin: 0px 0px 0px 20px;
	padding: 10px 20px 5px 20px;
}

nav {
	display: inline-block;
	float: right;
	padding-top: 15px;
	padding-right: 5%;
}


a{
	color: gray;
	font-family: Arial;
	text-decoration: none;
}

p, .email-form {
	background-color: white;
	max-width: 60%;
	display: inline-block;
	border-color: #d2d2d2;
	border-style: solid;
	border-width: 2px;
	padding: 20px;
	margin: 10px;
}

img {
	float:left;
	display: inline-block;
	margin: 10px;
}




footer {
	text-align: center;
	flex-shrink: 0;
	background-color: #666666;
	height: 10%;
}

.contact-me {
	text-align: center;
	font-family: Georgia;
	font-size: 20px;
	color: teal;
	padding: 20px;
	background-color: white;
	float: right;
	border-color: #d2d2d2;
	border-style: solid;
	border-width: 2px;
	margin: 10px;

}

.nav-button {
	display: inline-block;
	padding: 0px 20px 0px 0px;
}

#name-field {

}

#email-field {

}

#message-field {

}